services:
  postgres:
    image: postgres:latest
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: supersecretpassword
      POSTGRES_DB: chithi
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  rustfs:
    image: rustfs/rustfs:latest
    security_opt:
      - "no-new-privileges:true"
    container_name: rustfs
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./data:/data
    environment:
      RUSTFS_ADDRESS: "0.0.0.0:9000"
      RUSTFS_CONSOLE_ADDRESS: "0.0.0.0:9001"
      RUSTFS_VOLUMES: "/data/rustfs{0..3}"
      RUSTFS_ACCESS_KEY: "rustfsadmin"
      RUSTFS_SECRET_KEY: "rustfsadmin"
      RUSTFS_CONSOLE_ENABLE: "true"
    healthcheck:
      test: [ "CMD", "sh", "-c", "curl -f http://localhost:9000/health && curl -f http://localhost:9001/rustfs/console/health" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  redis:
    image: redis:8-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 3

  backend:
    build:
      context: ./src/backend
      dockerfile: Dockerfile
    container_name: backend
    restart: unless-stopped
    command: /bin/sh /app/scripts/start_backend.sh
    ports:
      - "8000:8000"
    environment: &backend-variable
      POSTGRES_SERVER: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: supersecretpassword
      POSTGRES_DB: chithi
      RUSTFS_ENDPOINT_URL: http://rustfs:9000
      RUSTFS_ACCESS_KEY: rustfsadmin
      RUSTFS_SECRET_ACCESS_KEY: rustfsadmin
      CELERY_BROKER_URL: redis://redis:6379
      CELERY_RESULT_BACKEND: redis://redis:6379
    depends_on:
      postgres:
        condition: service_started
      redis:
        condition: service_healthy
      rustfs:
        condition: service_healthy

  celery_worker:
    build:
      context: ./src/backend
      dockerfile: Dockerfile
    container_name: celery_worker
    restart: unless-stopped
    command: /bin/sh /app/scripts/start_celery.sh
    environment: *backend-variable
    depends_on:
      postgres:
        condition: service_started
      redis:
        condition: service_healthy
      backend:
        condition: service_started
  caddy:
    build:
      context: ./src/caddy
      dockerfile: Dockerfile
    container_name: caddy-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    environment:
      - DOMAIN=chithi.dev
    volumes:
      - ./src/caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - frontend
      - backend

  frontend:
    build:
      context: ./src/frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: unless-stopped
    environment:
      PUBLIC_BACKEND_API: https://chithi.dev/api
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres_data:
  redis_data:
  caddy_data:
  caddy_config:
