# Django
SECRET_KEY=your-secret-key-here
DEBUG=True

# PostgreSQL
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=chithi

# RustFS / S3
RUSTFS_ENDPOINT_URL=http://localhost:9000
RUSTFS_ACCESS_KEY=rustfsadmin
RUSTFS_SECRET_ACCESS_KEY=rustfsadmin
RUSTFS_BUCKET_NAME=chithi

# Celery / Redis
CELERY_BROKER_URL=redis://localhost:6379/0
