{
    # email your-email@example.com
}
backend.localhost {
    handle {
        reverse_proxy backend:8000
    }
}

localhost {
    # Reverse proxy for the Frontend
    handle {
        reverse_proxy frontend:3000{
		handle_response {
		    @notfound status 404
		    handle @notfound {
		        header Content-Type "{http.reverse_proxy.header.Content-Type}"
		        copy_response
		        status 200
		    }
		}
    }

}
