{
    # email your-email@example.com
}
backend.localhost {
    handle {
        reverse_proxy backend:8000
    }
}

localhost {
    # Reverse proxy for the Frontend
    handle {
        reverse_proxy frontend:3000
    }

}