name: Test Caddy Docker Build

on:
    push:
        branches: ['main']
        paths:
            - 'src/caddy/**'
            - '.github/workflows/**'
    pull_request:
        branches: ['main']
        paths:
            - 'src/caddy/**'
            - '.github/workflows/**'
    workflow_dispatch:

jobs:
    build-docker:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build Docker image
              uses: docker/build-push-action@v5
              with:
                  context: ./src/caddy
                  file: ./src/caddy/Dockerfile
                  push: false
